{{#partial "page"}}

<main class="page">
    <section class="page-content page-content--centered">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1 class="page-heading u-textAlignCenter">{{lang 'page_not_found.page_heading'}}</h1>
        <p class="u-textAlignCenter">
            {{lang 'page_not_found.message'}}
        </p>

        {{> components/common/search-box}}
        <div class="columna1" style="text-align: center">
            <h3>¡Pero no te desanimes!</h3>
            <p>Tenemos muchas cosas más esperándote.</p>
            <p>¿Por qué no pruebas estas sugerencias</p>
            <ul>
            <a href="/"><input type="button" value="Volvamos al principio"></a>
            <a href="/fajas"><input type="button" value="Quiero ver las fajas"></a> 
            <a href="/trajes-de-ba-o"><input type="button" value="Merezco un traje de baño"></a> 
            </ul>
            <ul>
            <a href="/promociones"><input type="button" value="¡Llévame a las promociones!"></a>
            <a href="/accesorios"><input type="button" value="Me encantan los accesorios"></a>
            <a href="/caballeros/"><input type="button" value="Quiero ver la ropa de hombre"></a>     
            </ul>    
    </div>
    </section>
</main>

{{/partial}}
{{> layout/base}}
