{{#partial "page"}}

<!--{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}-->
<main class="page page-error-404">
    <section class="page-content page-content--centered">
        <div class="image-wrap">
            <figure>
                <img src="/assets/img/404-girl.png" alt="{{lang 'page_not_found.page_heading'}}" width="350px" height="700px">
            </figure>
        </div>
        <div class="content-wrap">

        
            <div class="title-404">
                <h1 class="">{{lang 'page_not_found.page_heading'}}</h1>
                <p class="">
                    {{lang 'page_not_found.message'}}
                </p>
            </div>

            {{> components/common/search-box}}
            <div class="content-404">

                <div class="sub-tittle-404">
                    <h2>¡Pero no te desanimes!</h2>
                    <p>Tenemos muchas cosas más esperándote.</br>
                        ¿Por qué no pruebas estas sugerencias</p>
                </div>
                    
                <ul class="content-buttons">
                    <li>
                        <a href="/">Volvamos al principio</a>
                    </li>
                    <li>
                        <a href="/fajas">Quiero ver las fajas</a> 
                    </li>
                    <li>
                        <a href="/trajes-de-bano">Merezco un traje de baño</a> 
                    </li>
                    <li>
                        <a href="/promociones">¡Llévame a las promociones!</a>
                    </li>
                    <li>
                        <a href="/accesorios">Me encantan los accesorios</a>
                    </li>
                    <li>
                        <a href="/caballeros/">Quiero ver la ropa de hombre</a>     
                    </li>
                </ul>    
            </div>

        </div>
    </section>
</main>

{{/partial}}
{{> layout/base}}
