<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#each breadcrumbs}}
        {{#if url}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                {{#if @index '>' 0}}
                    <div class="breadcrumb_separator">/</div>
                {{/if}}
                <a data-instantload href="{{url}}" class="breadcrumb-label" itemprop="item" title="{{name}}">
                    {{#if @index '===' 0}}
                        <p class="home_breadcrumbs--home">Eskultura</p> 
                    {{/if}}
                    <span itemprop="name">{{name}}</span>
                    <meta itemprop="position" content="{{@index}}" />
                </a>
            </li>
        {{else}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                <div class="breadcrumb_separator">/</div>
                <span class="breadcrumb-label"> {{name}}</span>
            </li>
        {{/if}}
    {{/each}}
</ul>
