
{{#or banners.bottom theme_settings.instantload}}
    {{#if settings.data_tag_enabled}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        </div>
    {{/if}}
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

{{#all in_development (if page_type '===' 'category')}}
    {{> components/beautify/demo/region-footer-before-category}}
{{/all}}

{{#and settings.show_newsletter_box theme_settings.footer_show_newsletter}}
    {{> components/beautify/section-home-newsletter}}
{{/and}}
{{{region name="footer_below_newsletter"}}}
{{{region name="footer_below_newsletter--global"}}}

<footer class="footer" role="contentinfo">
    <h2 class="is-srOnly">{{lang 'footer.footer_start'}}</h2>
    <div class="container";>
        <div class="box">
            <h3>AYUDA</h3>
            <ul>
                <li><a href="/atencion-al-cliente">Atención al cliente</a></li>
                <li><a href="/contactanos">Encuentrános</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>PEDIDOS Y DEVOLUCIONES</h3>
            <ul>
                <li><a href="/atencion-al-cliente">Estado del pedido</a></li>
                <li><a href="/contactanos">Información de devoluciones</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>CATEGORIÁS</h3>
            <ul>
                <li><a href="/fajas">Fajas</a></li>
                <li><a href="/levanta-cola">Levanta Cola</a></li>
                <li><a href="/trajes-de-bano">Trajes de baño</a></li>
                <li><a href="/ropa-interior">Ropa Interior</a></li>
                <li><a href="/hombre">Caballero</a></li>
                <li><a href="/linea-deportiva">Línea deportiva</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/blog">Blog</a></li>         
            </ul>              
        </div>
        <div class="box">
            <h3>CONTÁCTENOS</h3>
            <ul>
                <li><a href="/atencion-al-cliente"><i class="fa fa-whatsapp"></i> Número Celular</a></li>
                <li><a href="/atencion-al-cliente"><i class="fa fa-phone"></i> Telefono</a></li>
                <li><a href="/atencion-al-cliente"><i class="fa fa-envelope"></i> E-mail</a></li>
                <li><a href="/atencion-al-cliente"><i class="fas fa-map-marker-alt"></i> Oficina Principal</a></li>
            </ul>
        </div>
        <div class="box">
            <ul class="red-social">
                <li><a href="#" class="fa fa-instagram fa-4x"></a></li>
                <li><a href="#" class="fab fa-facebook fa-4x"></a></li>
                <li><a href="#" class="fab fa-tiktok fa-4x"></a>      </li>                      
            </ul>
        </div>
    </div>
    <div class="grupo-2" >
        <small>&copy; 2022 <b>BELKA COMPANY SAS</b> - Todos los Derechos Reservados.</small>
    </div> 
</footer>

{{{region name="footer_bottom--global"}}}
