
{{#or banners.bottom theme_settings.instantload}}
    {{#if settings.data_tag_enabled}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        </div>
    {{/if}}
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

{{#all in_development (if page_type '===' 'category')}}
    {{> components/beautify/demo/region-footer-before-category}}
{{/all}}

{{#and settings.show_newsletter_box theme_settings.footer_show_newsletter}}
    {{> components/beautify/section-home-newsletter}}
{{/and}}
{{{region name="footer_below_newsletter"}}}
{{{region name="footer_below_newsletter--global"}}}

<footer class="footer" role="contentinfo">
    <h2 class="is-srOnly">{{lang 'footer.footer_start'}}</h2>
    <div class="container";>
            <div class="box">
                <h3>AYUDA</h3>
                <p>
                    <a href="/atencion-al-cliente">Atención al cliente</a>.
                    </p>
                    <p>
                        <a href="/contactanos">Encuentrános</a>.
                        </p>
            </div>
            <div class="box">
                <h3>PEDIDOS Y DEVOLUCIONES</h3>
                <p>
                    <a href="/atencion-al-cliente">Estado del pedido</a>.
                    </p>
                    <p>
                        <a href="/contactanos">Información de devoluciones</a>.
                        </p>
                </div>
                <div class="box">
                    <h3>CATEGORIÁS</h3>
                        <p><a href="/fajas">Fajas</a></p>
                        <p><a href="/levanta-cola">Levanta Cola</a></p>
                        <p><a href="/trajes-de-bano">Trajes de baño</a></p>
                        <p><a href="/ropa-interior">Ropa Interior</a></p>
                        <p><a href="/hombre">Caballero</a></p>
                        <p><a href="/linea-deportiva">Línea deportiva</a></p>
                        <p><a href="/accesorios">Accesorios</a></p>
                        <p><a href="/blog">Blog</a></p>
                       
                </div>
                    <div class="box">
                        <h3>CONTÁCTENOS</h3>
                       
                        <p><a href="/atencion-al-cliente" class="fa fa-whatsapp"> Número Celular</a></p>
                        <p><a href="/atencion-al-cliente" class="fa fa-phone"> Telefono</a></p>
                        <p><a href="/atencion-al-cliente" class="fa fa-email"> E-mail</a></p>
                        <p><a href="/atencion-al-cliente" class="fa fa-ubication"> Oficina Principal</a></p>
                    </div>
                    <div class="box">
                        <div class="red-social2"></div>
                            <a href="#" class="fa fa-instagram fa-4x"></a>
                            <a href="#" class="fa fa-facebook fa-4x"></a>
                            <a href="#" class="fa fa-tiktok fa-4x"></a>
                            
                        </div>
            </div>
        </div>
        <div class="grupo-2" >
            <small>&copy; 2022 <b>BELKA COMPANY SAS</b> - Todos los Derechos Reservados.</small>
        </div>
    </div>   
</footer>

{{{region name="footer_bottom--global"}}}
