
{{#or banners.bottom theme_settings.instantload}}
    {{#if settings.data_tag_enabled}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="banners--bottom" data-banner-location="bottom">
            <div class="container">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        </div>
    {{/if}}
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

{{#all in_development (if page_type '===' 'category')}}
    {{> components/beautify/demo/region-footer-before-category}}
{{/all}}

{{#and settings.show_newsletter_box theme_settings.footer_show_newsletter}}
    {{> components/beautify/section-home-newsletter}}
{{/and}}
{{{region name="footer_below_newsletter"}}}
{{{region name="footer_below_newsletter--global"}}}

<footer class="footer" role="contentinfo">
    <h2 class="is-srOnly">{{lang 'footer.footer_start'}}</h2>
    <div class="container";>
        <div class="box">
            <h3>AYUDA</h3>
            <ul>
                <li><a href="/escribenos">Escribenos</a></li>
                <li><a href="/preguntas-frecuentes">Preguntas frecuentes</a></li>                            
                <li><a href="/politica-de-privacidad">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>PEDIDOS Y DEVOLUCIONES</h3>
            <ul>
                <li><a href="/politica-de-reembolsos-y-devoluciones/">Reembolsos y devoluciones</a></li>
                <li><a href="/politica-de-envios">Políticas de envíos</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>CATEGORIÁS</h3>
            <ul>
                <li><a href="/fajas">Fajas</a></li>
                <li><a href="/levanta-cola">Levanta Cola</a></li>
                <li><a href="/trajes-de-bano">Trajes de baño</a></li>
                <li><a href="/linea-deportiva">Línea deportiva</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/blog">Blog</a></li>         
            </ul>              
        </div>
        <div class="box">
            <h3>CONTÁCTENOS</h3>
            <ul class="info-shop">
                <li><a href="/atencion-al-cliente"><i class="fa fa-whatsapp"></i> Número Celular</a></li>
                <li><a href="/atencion-al-cliente"><i class="fa fa-phone"></i> Telefono</a></li>
                <li><a href="/atencion-al-cliente"><i class="fa fa-envelope"></i> E-mail</a></li>
                <li><a href="/atencion-al-cliente"><i class="fa fa-map-marker"></i> Oficina Principal</a></li>
            </ul>
        </div>
        <div class="box">
            <ul class="red-social">
                <li>
                    <a href="https://www.instagram.com/fajaseskultura" target="_blank"  width="36px" height="36px class="ico" title="Instagram Eskultura">
                        <img src="/content/assets/ico_ig.png" alt="Instagram Eskultura"  width="36px" height="36px" >
                    </a>
                </li>
                
                <li>
                    <a href="https://www.facebook.com/eskulturatiendadebelleza"target="_blank"  class="ico" title="Facebook Eskultura">
                        <img src="/content/assets/ico_fb.png" alt="Facebook Eskultura"  width="36px" height="36px" >
                    </a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@eskultura" target="_blank" class="ico" title="Tiktok Eskultura">
                        <img src="/content/assets/ico_tiktok.png" width="36px" height="36px  alt="Tiktok Eskultura">
                    </a>
                </li>                 
            </ul>
        </div>
    </div>
    <div class="grupo-2" >
        <small>&copy; 2022 <b>BELKA COMPANY SAS</b> - Todos los Derechos Reservados.</small>
    </div> 
</footer>

{{{region name="footer_bottom--global"}}}
