{{#or banners.top_metadata theme_settings.instantload}}
<div class="banners" data-banner-location="top">
    {{#if settings.data_tag_enabled}}
        {{#each banners.top_metadata}}
            <div class="banner">
                {{{this.content}}}
            </div>
        {{/each}}
    {{else}}
        {{#each banners.top_metadata}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>
{{/or}}
<header class="header" role="banner" {{#if theme_settings.header_sticky}} data-sticky-header{{/if}}>

    <div class="beautify__topHeader">
        <div class="container">
            <div class="_announce">
                {{{region name="header_top_announcement--global"}}}
            </div>
            
        </div>
    </div>
    <div class="beautify__mainHeader{{#if settings.store_logo.image}} _hasImg{{/if}} _{{theme_settings.logo_position}}">
        <div class="container">
            <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                <span class="mobileMenu-toggleIcon"><span class="_icon"></span></span>
                <span class="_label sr-only">{{lang 'common.menu'}}</span>
            </a>
            
            {{#if template_file '===' 'pages/home'}}
                <h1 class="header-logo{{#if settings.store_logo.image}} _isImg{{/if}}">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo{{#if settings.store_logo.image}} _isImg{{/if}}">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}

            <ul class="navUser-section">
                <li class="navUser-item navUser-item--region">
                    {{{region name="header_navuser--global"}}}
                </li>
                {{#if settings.phone_number}}
                <li class="navUser-item navUser-item--phone">
                    <a class="navUser-action" href="tel:{{settings.phone_number}}" title="{{lang 'header.call_us' phone_number=settings.phone_number}}">
                        <svg class="icon"><use xlink:href="#icon-phone" /></svg>
                        <span class="_label">{{{lang 'header.call_us2' phone_number=settings.phone_number}}}</span>
                    </a>
                </li>
                {{/if}}
            
                {{#if customer.store_credit.value '>' 0}}
                    <li class="navUser-item">
                        <a class="navUser-action navUser-action--storeCredit"
                            data-dropdown="storeCredit-dropdown"
                            data-options="align:bottom"
                            href="{{urls.cart}}"
                            title="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}">
                            <svg class="icon"><use xlink:href="#icon-credit" /></svg>
                            <span class="_label">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
                        </a>
                        <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                            {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                        </div>
                    </li>
                {{/if}}
            
                <li class="navUser-item navUser-item--compare">
                    <a class="navUser-action navUser-action--compare" href="{{urls.compare}}" data-compare-nav title="{{lang 'common.compare'}}">
                        <svg class="icon"><use xlink:href="#icon-compare" /></svg>
                        <span class="_label">{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></span>
                        
                    </a>
                </li>
                
                {{#if settings.gift_certificates_enabled}}
                    <li class="navUser-item navUser-item--giftCert">
                        <a class="navUser-action navUser-action--giftCert" href="{{urls.gift_certificate.purchase}}" title="{{lang 'common.gift_cert'}}">
                            <svg class="icon"><use xlink:href="#icon-gift" /></svg>
                            <span class="_label">{{lang 'common.gift_cert'}}</span>
                        </a>
                    </li>
                {{/if}}
                          
            </ul>


                <div class="_searchBar">
                    {{> components/common/quick-search}}
                </div>
 
                {{#if currency_selector.currencies.length '>' 1}}
                    <div class="_currency">
                        <a  href="#" data-dropdown="topHeader-currency" aria-controls="topHeader-currency" aria-expanded="false">
                            {{{lang 'common.currency' code=currency_selector.active_currency_code}}} <svg class="icon"><use xlink:href="#icon-caret-down"></use></svg>
                        </a>
                        <div class="dropdown-menu" id="topHeader-currency" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <ul>
                                {{#each currency_selector.currencies}}
                                <li>
                                    <a href="{{{switch_url}}}">
                                        {{#if is_active}}
                                            <strong>{{name}} ({{code}})</strong>
                                        {{else}}
                                            {{name}} ({{code}})
                                        {{/if}}
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}
                        
                <div class="_account">
                    {{#if customer}}
                        <a href="{{urls.account.index}}" class="navUser-action navUser-action--login">
                            <span class="_label">{{lang 'common.account'}}</span>                            
                            <svg  class="icon" xmlns="http://www.w3.org/2000/svg" width="33.725" height="33.725" viewBox="0 0 33.725 33.725">
                                <g id="User_off" data-name="User off" transform="translate(0.5 0.5)">
                                  <path id="Icon_awesome-user-circle" data-name="Icon awesome-user-circle" d="M16.363.563A16.363,16.363,0,1,0,32.725,16.925,16.36,16.36,0,0,0,16.363.563Zm0,6.334A5.806,5.806,0,1,1,10.557,12.7,5.806,5.806,0,0,1,16.363,6.9Zm0,22.7a12.643,12.643,0,0,1-9.666-4.5,7.356,7.356,0,0,1,6.5-3.946,1.614,1.614,0,0,1,.468.073,8.736,8.736,0,0,0,2.7.455,8.7,8.7,0,0,0,2.7-.455,1.614,1.614,0,0,1,.468-.073,7.356,7.356,0,0,1,6.5,3.946A12.643,12.643,0,0,1,16.363,29.593Z" transform="translate(0 -0.563)" fill="none" stroke="#5e408e" stroke-width="1"/>
                                </g>
                            </svg>
                              
                        </a>
                    {{else}}
                        <a href="{{urls.auth.login}}" class="navUser-action navUser-action--login">                     
                            <svg  class="icon" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33.725 33.725">
                                <g id="User_off" data-name="User off" transform="translate(0.5 0.5)">
                                  <path id="Icon_awesome-user-circle" data-name="Icon awesome-user-circle" d="M16.363.563A16.363,16.363,0,1,0,32.725,16.925,16.36,16.36,0,0,0,16.363.563Zm0,6.334A5.806,5.806,0,1,1,10.557,12.7,5.806,5.806,0,0,1,16.363,6.9Zm0,22.7a12.643,12.643,0,0,1-9.666-4.5,7.356,7.356,0,0,1,6.5-3.946,1.614,1.614,0,0,1,.468.073,8.736,8.736,0,0,0,2.7.455,8.7,8.7,0,0,0,2.7-.455,1.614,1.614,0,0,1,.468-.073,7.356,7.356,0,0,1,6.5,3.946A12.643,12.643,0,0,1,16.363,29.593Z" transform="translate(0 -0.563)" fill="none" stroke="#5e408e" stroke-width="1"/>
                                </g>
                            </svg>
                        </a>
                    {{/if}}
                </div>
                <div class="_cart">
                    <a
                        class="navUser-action navUser-action--cart"
                        data-cart-preview
                        data-toggle="cart-preview-dropdown"
                        href="{{urls.cart}}"
                        title="{{lang 'common.cart'}}">

                        <svg class="icon" id="Bag_A" data-name="Bag A" xmlns="http://www.w3.org/2000/svg" width="32.73" height="32.73" viewBox="0 0 32.73 32.73">
                            <rect id="Rectángulo_418" data-name="Rectángulo 418" width="32.73" height="32.73" fill="none"/>
                            <path id="Icon_awesome-shopping-bag" data-name="Icon awesome-shopping-bag" d="M21.909,9.914V7.931a7.967,7.967,0,0,0-15.934,0V9.914H0V26.768a4.968,4.968,0,0,0,4.979,4.957H22.905a4.968,4.968,0,0,0,4.979-4.957V9.914ZM9.959,7.931a3.984,3.984,0,0,1,7.967,0V9.914H9.959Zm9.959,7.436a1.487,1.487,0,1,1,1.494-1.487A1.49,1.49,0,0,1,19.918,15.367Zm-11.951,0A1.487,1.487,0,1,1,9.461,13.88,1.49,1.49,0,0,1,7.967,15.367Z" transform="translate(2.5 0.5)" fill="none" stroke="#5e408e" stroke-width="1"/>
                        </svg>
                          
                          
                        <span class="_label">{{lang 'common.cart'}}</span> <span class="countPill cart-quantity"></span>
                    </a>
                    <div class="previewCart-overlay"></div>
                    <div class="dropdown-menu" id="cart-preview-dropdown" aria-hidden="true"></div>
                </li>
                </div>    
            </div>
      
        </div>
    </div>

    <div class="navPages-container" id="menu" data-menu>
        <div class="container" id="bf-fix-menu-mobile">
            {{> components/beautify/navigation-menu}}

            <div class="beautify__belowMobileMenu">
                {{{region name="footer_below_mobile_menu--global"}}}
            
            </div>
        </div>
    </div>

</header>

<div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" tabindex="-1" data-prevent-quick-search-close>
    <div class="container">
        <section class="quickSearchResults" data-bind="html: results"></section>
    </div>
</div>
<div class="papathemes-overlay"></div>

{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
