

@import "settings/global/color/color"; // 1



@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');


// PASTE CUSTOM STYLING HERE
 aside#faceted-search-container {
        display:none;
    }

    a.powered-link {
    display: none!important;
}
h1.page-heading {text-align: center;width: 100%;padding: 7px;font-size: 5rem;text-transform: uppercase; letter-spacing: 5px;}

main#product-listing-container {
    margin-left: 10%;
}
input#search_query {
    margin-top: 19px;
}


.category-list .container-header a{
    text-decoration: blink;
    font-size: 24px;
    text-decoration: none;
}

.category-list {
    text-align: left;
}
h2.container-header.mobile {
    padding: 20px;
}
header div#menu {
    z-index: 99;
}
li.previewCartItem {
    z-index: 100;
}
h1.page-heading, h2.page-heading.showcase-products, h2.page-heading  {
    color: #E7BDFE;
    text-align: center;
}

article.store-info {
    display: none;
}
input.button.button--primary {
    margin-bottom: 10px;
}
main.page404 {
    //background: black;
    background-image: url("FONDO 404.jpg");
}
div#bf-fix-menu-mobile{
    background: #5E408F;
    color: white;

}
a.navPages-action {
    color: white;
}
a.navPages-action:hover{
    color: #E7BDFE;
}
.beautify__mainHeader._hasImg._left {
    background: #F9F5FF;
}
input#search_query {
    border-radius: 50px;
}
._account{
    order: 4;
    padding: 10px;
}
._cart{
    order: 5;
    position: relative;
}
input#search_query {
    margin-bottom: 14px;
}
button.button._submit {
    display: none;
}

._searchBar {
    order: 3!important;
}
.go2405723030 {
    color: #E7BDFE!important;
}
.go2405723030:hover,.go3482607567:hover ,.go4164626276:hover,.go521600597:hover,.go28724445:hover,.go1289053998:hover,.go2347030846:hover,.go297012889:hover,.go3447205794:hover,.go690130627:hover {
    transition: .4s all;
    background: rgba(97,69,142,0.5);
    transform: scale(1.5);
    color: white;;
}

 .go3989562963 {
 
    transition: .4s all;
    overflow: hidden!important;
}
.beautify__section.beautify__newsletter {
    background: #54387F;
}

.h2.page-heading{color:white;}

h3.footer-info-heading {color: #54387F;}

.beautify__newsletter #nl_email{
    width: 100%;
	text-align: center;
	padding: 1rem 0 1rem;
    border: 0;
	border-bottom: solid .1rem white;
	margin-bottom: 1rem;
    background-color: transparent;;color:white;}
.beautify__newsletter #nl_email::placeholder{ color: white;}
input:focus{	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;}

p.u-hideMobile.u-hideTablet {display: none;}
.footer-copyright {display: none;}

.inhealth__footerBeforeCategoryDemo, .inhealth__footerBeforeCategoryDemo{display: none!important;}
button.slick-prev.slick-arrow, button.slick-next.slick-arrow{background-color: #54387F;}
a#scrollToTopFloatingButton{display: none;}

a.powered-link {display: none;}
h2.panel-title{color:#54387F}
.new-customer-intro, li.new-customer-fact{color: #A50CFD;}
span._label {display: none;}
.beautify__footerIcons {display: none;}

// HEADER
.topContainer-header{ text-align: center; padding: 10px;}
.topContainer-header p{text-transform: uppercase;}
.topContainer-header .topLink-header{border: 1px solid #fff; padding: 3px 4px; margin-left: 20px; display: inline-flex;}
.navPages-list{text-align: center;}

.beautify__quickSearch .button._submit,
.beautify__quickSearch .button._close{width: 16px; height: 16px; background: transparent;padding: 0;left: 14px;position: absolute;top: calc(50% - 9px);}
.beautify__quickSearch .button._close{left: unset; right: 14px;}

.beautify__quickSearch .button._submit .icon{fill: stencilColor("quickSearch-color"); }
.beautify__quickSearch .form-input{padding-left: 45px; border-radius: 50px;}
div#bf-fix-menu-mobile{background: #5E408F;color: white; border: 0;}
a.navPages-action {color: white;}
a.navPages-action:hover{color: #E7BDFE;}

@media (min-width:  801px){
    .navUser-action{margin: 0;}
}

.footer .container{width: 100%;max-width: 1200px;margin: auto;padding: 35px 0px; color: #54387F;  display: flex; justify-content: center; flex-wrap: wrap;}
.footer .container .box{position: relative;  padding: 0 30px; width: 20%;}

.footer .container .box::after{content:''; display: flex; height: 100px; width: 1px; background-color: stencilColor("color-primary"); position: absolute; right: 0; top: 0;}
.footer .container .box:last-child:after{content:unset;}

.footer .container .box ul{  list-style:none ; margin: 0;}
.footer .container .box ul li::marker{ list-style-type: none;}
.footer .container .box ul li{margin-bottom: 6px;}

.footer .container .box ul.red-social{display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; margin-top: 30px;}
.footer .container .box ul.info-shop li i{width: 20px; margin-right: 2px; text-align: center;}
.footer .container .box h3{ margin-top: 0;}

@media screen and (max-width:800px){
    .footer .container .box{width: 100%; padding: 10px 25px;}
    .footer .container .box::after{width: calc(100% - 50px); height: 1px; top: unset; bottom: 0;}
}


h3 {color: #54387F;font-size: 0.8rem;font-weight: bold;margin-bottom: 15px;}
.red-social {margin-top: 40px;}
ul.socialLinks.socialLinks--alt {display: none;}
.footer a {color: #5E408F;margin-top:3px;}
.footer a:hover{color: stencilColor("footer-secondary-linkColor-hover");}
 // borrar seccines home que no se usan 
.beautify__section.beautify__section--topProducts.beautify__section--displayType-carousel {display: none;}
.beautify__section.beautify__recentBlog {display: none;}

// PRODUCTOS
.productView-options .form-radio:checked + .form-option{box-shadow: unset;}
.productView-options .form-field[data-product-attribute="swatch"] .form-option{border: unset;}
.form-option-variant--color{padding: 0 !important;}
.productView-title{ color: $color-primary;}
.productView-separator{margin: 15px 0;}


.productView-options .form-field[data-product-attribute="set-rectangle"] .form-option{color: #727272;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-option .form-option-variant{ font-weight: 600; padding: 4px 6px;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-radio:checked + .form-option{ background-color: $color-primary;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-radio:checked + .form-option .form-option-variant{color: white;}
span.form-option-variant.form-option-variant--color {border-radius: 50%;}
label.form-option.form-option-swatch {border-radius: 50%;}
.papathemes-productView-optionsGrid .form-label [data-option-value]{color:#C667FE;}
.productView-options .form-label--alternate{font-size: 1rem; color:#C667FE;}
.productView-options .productView-title-detail{font-size: 1rem; color:#C667FE; margin-top: 10px;}
.productView-description-tabConten{font-size: .8rem;}
.productView-info{margin-bottom: 0;}
.productView-reference{display: flex; color: #727272; margin-bottom: 10px;}
.productView-price{ margin-bottom: 10px;}
.productView-availability{display: flex; margin-bottom: 10px;}
.productView-info-name--availability{text-transform: uppercase; color: #727272;}
.productView-info-value--availability{font-weight: 700; color: $color-primary; margin-left: 5px;}
.productView-link-tallas:hover{font-weight: normal;}

// NEWSLETTER
.beautify__newsletter .page-heading{font-size: 2rem; color: white;font-weight: 100;}
.beautify__newsletter .page-heading .icon-newsletter{content: ''; width: 28px; height: 28px; background: url('/assets/img/ico-boletin.png') no-repeat center / 100%; margin-right: 10px;}
.beautify__newsletter .form-field{display: block;}
.beautify__newsletter .form-field button{text-align: center; margin: auto; transition: .4s all;}
.beautify__newsletter .form-field button:hover{background-color: white; color: stencilColor("color-primary"); }

// 404
.page-404{ background: linear-gradient(#C5B9E7,#9F91CE); margin-top: 0;}
.page-error-404{margin-top: 0;}
.page-error-404 .page-content{display: flex; flex-wrap: wrap; padding: 2rem 1.5rem ;}
.page-error-404 .page-content .image-wrap{width: 40%;}
.page-error-404 .page-content .image-wrap figure img{margin: auto; display: flex;}
.page-error-404 .page-content form input.button.button--primary{margin:0;}
.page-error-404 .page-content .content-wrap{width: 60%;}
.page-error-404 .page-content p,
.page-error-404 .page-content h1,
.page-error-404 .page-content h2{color: white;}
.page-error-404 .page-content p{font-size: 1.4rem;line-height: 1.4rem;}

.page-error-404 .page-content h1{font-size: 2.5rem;margin-left: -45px;}
.page-error-404 .page-content h2{font-size: 2.5rem;margin-left: -35px;}
.page-error-404 .page-content .title-404 p{max-width: 240px; text-align: left;}
.page-error-404 .page-content .sub-title-404 p{max-width: 300px; text-align: left;}
.page-error-404 .page-content .content-404 .content-buttons{display: flex; justify-content: center; flex-wrap: wrap; margin-top: 50px;}
.page-error-404 .page-content .content-404 .content-buttons li{width: 50%; margin-bottom: 20px;}
.page-error-404 .page-content .content-404 .content-buttons li::marker{display: none; content:''; }

//.page-error-404 .page-content .image-wrap::after{content: url('https://acegif.com/wp-content/uploads/gif-explosion-11.gif'); position: absolute; display: flex;}
.content-404 .content-buttons li a {width: calc(100% - 20px);color: $color-primary;background-color: white;display: flex;text-decoration: unset;font-weight: bold;justify-content: center;margin: 0 10px;padding: 5px 10px; transition: .4s all; text-align: center;}
.content-404 .content-buttons li a:hover{transform: scale(1.06); background-color: $color-primary; color: white;}


@media screen and (max-width:800px){

    .page-error-404 .page-content h2{margin-left: 0;}
    .page-error-404 .page-content h1{margin-left: 0;}
    .page-error-404 .page-content p{font-size: 1.1rem;}
    .page-error-404 .page-content .content-404 .content-buttons li{width: 100%;}
    .page-error-404 .page-content .image-wrap{width: 100%;order: 1;position: absolute;top: 0; left:0;z-index: 1; overflow: hidden;}
    .page-error-404 .page-content .image-wrap figure img{transform: translateX(25%)}    

    .page-error-404 .page-content .content-wrap{width: 100%; order: 1; z-index: 2;}
    .page-error-404 .page-content .content-404 .content-buttons{margin-left:0 ;}
    .content-404 .content-buttons li a{text-align: center;}
}


// vista categoria prodcuto
div#facetedSearch {display: flex; flex-wrap: wrap; }
.page-sidebar {width: 100%;}
div#facetedSearch {display: flex; flex-wrap: wrap; }
._accordion._accordion--navList {display: flex;flex-wrap: wrap;}
.page-sidebar + .page-content {width: 100%;}
.facetedSearch-refineFilters.sidebarBlock { margin-right: 20px;}
._accordion-navigation.toggleLink.is-open { padding-left: 10px;}
h3.sidebarBlock-heading {color: #54387F; font-size: 0.5rem;}
h4._accordion-title{color:#54387F; font-size: 0.5rem;}
svg.icon._accordion-indicator.toggleLink-text.toggleLink-text--on{border-right:solid 0.1rem #54387F; padding-right: 10px;}
svg.icon._accordion-indicator.toggleLink-text.toggleLink-text--off{border-right:solid 0.1rem #54387F; padding-right: 10px;}
.facetedSearch ._accordion-content.is-open {position: absolute; z-index: 3; background: white; padding: 3px;}
._accordion-block{position:relative}
._accordion-navigation.toggleLink.is-open {min-width: 140px;}
input.form-input.form-input--small {max-width:150px;}
a.navList-action.navList-action--checkbox {min-width: 130px;}
.form-field.form-field--input {min-width: 120px;}
button.button.button--outline.button--small {background: white; }
button.button.button--outline.button--small:hover {background: #A50CFD; color:white }

// somos eskultura
div#sd-image-c77675ad-824c-4fad-94fb-9e264c45efe3:hover{background: url(https://cdn11.bigcommerce.com/s-7srliiv4l2/product_images/uploaded_images/mision-b.jpg?t=1648741249&_gl=1*11q8f8t*_ga*MTM2MzQ5MTQ1NS4xNjM5NTk2ODcz*_ga_WS2VZYPC6G*MTY0ODc0NzQ4My4xMzcuMS4xNjQ4NzQ4MzI3LjM5);}
.page-somos-video video {height: 500px; width: 100%; object-fit: cover;}
//pagina de inicio de sesion
.panel-body {background: #ffff; border-left:solid #54387F 3px;}
.panel-header {background: #ffff; border-left:solid #54387F 3px;}
button.button.button--primary{background: white; color: #54387F; }
button.button.button--primary:hover{background:#54387F; color: white; min-width: 200px; align-items: center;}
form.login-form.form {margin-top: -15px;}


