

@import "settings/global/color/color"; // 1
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');


// PASTE CUSTOM STYLING HERE
aside#faceted-search-container {
        display:none;
    }

    a.powered-link {
    display: none!important;
}

h1.page-heading {text-align: center;width: 100%;padding: 7px;font-size: 5rem;text-transform: uppercase; letter-spacing: 5px;

    @media (max-width: screenSize("medium") - 1px) {

        font-size: 3rem;
    }
    @media (max-width: screenSize("small") - 1px) {

        font-size: 1.6rem;
    }
}

main#product-listing-container {
    margin-left: 10%;
}



.category-list .container-header a{
    text-decoration: blink;
    font-size: 24px;
    text-decoration: none;
}

.category-list {
    text-align: left;
}
h2.container-header.mobile {
    padding: 20px;
}
header div#menu {
    z-index: 99;
}
li.previewCartItem {
    z-index: 100;
}
h1.page-heading, h2.page-heading.showcase-products, h2.page-heading  {
    color: #E7BDFE;
    text-align: center;
}

article.store-info {
    display: none;
}
input.button.button--primary {
    margin-bottom: 10px;
}
main.page404 {
    //background: black;
    background-image: url("FONDO 404.jpg");
}
div#bf-fix-menu-mobile{
    background: #5E408F;
    color: white;

}
.navPages-action:hover, .navPages-action:focus, .navPages-action:active{color: white;}

.navPages-container .navPages a.navPages-action{text-transform: uppercase;}
a.navPages-action {color: white; font-weight: 400;}
a.navPages-action:hover{
    color: #E7BDFE;
}
.beautify__mainHeader._hasImg._left {
    background: #F9F5FF;
}

._account{
    a:hover{
        path{fill: stencilColor("color-primary");}
    }
    order: 4;
    padding: 10px;
    @media (max-width: screenSize("medium") - 1px) {
        order: 1;
    }
}
._cart{
    a:hover{
        path{fill: stencilColor("color-primary");}
    }
    order: 5;
    position: relative;
    @media (max-width: screenSize("medium") - 1px) {
        order: 2;
    }
}

.card-title > a:hover{
    color :  stencilColor("color-primary");
}

._searchBar {
    order: 3!important;
}
.go2405723030 {
    color: #E7BDFE!important;
}
.go2405723030:hover,.go3482607567:hover ,.go4164626276:hover,.go521600597:hover,.go28724445:hover,.go1289053998:hover,.go2347030846:hover,.go297012889:hover,.go3447205794:hover,.go690130627:hover {
    transition: .4s all;
    background: rgba(97,69,142,0.5);
    transform: scale(1.1);
    color: white;;
}

 .go3989562963 {
 
    transition: .4s all;
    overflow: hidden!important;
}
.beautify__section.beautify__newsletter {
    background: #54387F;
}

.h2.page-heading{color:white;}
h3.footer-info-heading {color: #54387F;}
input:focus{	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
p.u-hideMobile.u-hideTablet {display: none;}
.footer-copyright {display: none;}
.inhealth__footerBeforeCategoryDemo, .inhealth__footerBeforeCategoryDemo{display: none!important;}
button.slick-prev.slick-arrow, button.slick-next.slick-arrow{background-color: transparent;}

.slick-next::before, .slick-prev::before{width: 30px; height: 2rem;}
@media (max-width:  801px){
    .slick-next::before, .slick-prev::before{width: 24px; height: 1.5rem;}
    .home_breadcrumbs--home{margin: 0;}
}



.slick-next::before{background-image: url('../img/ico/ico_arrow_slide_r.png');}
.slick-prev::before{background-image: url('../img/ico/ico_arrow_slide_r.png'); transform: rotate(180deg); }

a#scrollToTopFloatingButton{display: none;}



a.powered-link {display: none;}
h2.panel-title{color:#54387F}
.new-customer-intro, li.new-customer-fact{color: #A50CFD;}
span._label {display: none;}
.beautify__footerIcons {display: none;}

// HEADER
.topContainer-header{ text-align: center; padding: 10px;}
.topContainer-header p{text-transform: uppercase;}
.topContainer-header .topLink-header{border: 1px solid #fff; padding: 3px 4px; margin-left: 20px; display: inline-flex;}
.navPages-list{text-align: center;}

.beautify__quickSearch .button._submit,
.beautify__quickSearch .button._close{background: transparent;padding: 0;left: 14px;position: absolute;top: calc(50% - 9px);}
.beautify__quickSearch .button._close{left: unset; right: 14px;}

.beautify__quickSearch .form-input{
    border-radius: 50px;
    margin-top: 19px;
    margin-bottom: 14px;
    padding-left: 45px; border-radius: 50px;
    @media (max-width: screenSize("medium") - 1px) {
        margin-bottom: 5px;
        margin-top: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

}
div#bf-fix-menu-mobile{background: #5E408F;color: white; border: 0;}
a.navPages-action {color: white;}
a.navPages-action:hover{color: #E7BDFE;}

@media (min-width:  801px){
    .navUser-action{margin: 0;}
}


.card-figcaption-button:hover{background-color: stencilColor("color-primary");}
.footer .container{width: 100%;max-width: 1200px;margin: auto;padding: 35px 0px; color: #54387F;  display: flex; justify-content: center; flex-wrap: wrap;}
.footer .container .box{position: relative;  padding: 0 30px; width: 20%;}
.footer .copyright{background-color: stencilColor("color-primary"); text-align: center; font-size: .8rem; color: white; padding: 10px;}
.footer .copyright img{}
.footer .copyright a{color: white;}
.footer .copyright a:hover{color: white;}
.footer .container .box::after{content:''; display: flex; height: 100px; width: 1px; background-color: stencilColor("color-primary"); position: absolute; right: 0; top: 0;}
.footer .container .box:last-child:after{content:unset;}

.footer .container .box ul{  list-style:none ; margin: 0;}
.footer .container .box ul li::marker{ list-style-type: none;}
.footer .container .box ul li{margin-bottom: 6px;}

.footer .container .box ul.red-social{display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; margin-top: 30px;}
.footer .container .box ul.info-shop li i{width: 20px; margin-right: 2px; text-align: center;}
.footer .container .box h3{ margin-top: 0;}

/* WHATSAPP FLOTANTE */

/*Fixed Buttons*/
.whatsapp-floating-button{
    z-index: 2;
    position: fixed;
    bottom: 6px;
    left: 16px;
    display: block;
    transition: transform .5s ease;
  }
.whatsapp-floating-button img{
animation: ring 1.5s infinite ease;
-webkit-animation: ring 1.5s infinite ease;
}

@keyframes ring {
    0% {
      transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
      transform: rotate(-10deg) scale(1) skew(1deg)
    }
    20% {
      transform: rotate(10deg) scale(1) skew(1deg)
    }
    30% {
      transform: rotate(-10deg) scale(1) skew(1deg)
    }
    40% {
      transform: rotate(10deg) scale(1) skew(1deg)
    }
    50% {
      transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
      transform: rotate(0) scale(1) skew(1deg)
    }
  }

@media screen and (max-width:800px){
    .footer .container .box{width: 100%; padding: 20px 25px;}
    .footer .container .box::after{width: calc(100% - 50px); height: 1px; top: unset; bottom: 0; left: 25px;}
    .footer .container .box ul.red-social{ margin: 30px 0;}
}


h3 {color: #54387F;font-size: 0.8rem;font-weight: bold;margin-bottom: 15px;}
.red-social {margin-top: 40px;}
ul.socialLinks.socialLinks--alt {display: none;}
.footer a {color: #5E408F;margin-top:3px;}
.footer a:hover{color: stencilColor("footer-secondary-linkColor-hover");}


.home_breadcrumbs--home{color: stencilColor('color-primary'); margin-right: 5px; font-weight: bold;}
.breadcrumb .breadcrumb-label{
    color: stencilColor('color-primary');
    font-family: 'Outfit';
    font-size: .7rem;
    letter-spacing: 1px;
    @media (min-width: screenSize("medium") - 1px) {
        font-size: 1rem;
    }  
}

.breadcrumb{
    .breadcrumb_separator{ margin: 0 4px; display: inline-block; }
}

//HEADER ANNOUNCMENT
.beautify__topHeader{

    ._announce{
        font-size: .6rem;
        @media (min-width: screenSize("medium") - 1px) {
            font-size: .8rem;
        }
    }
}
.navPages{
    .navPages-list--user{
        background-color: stencilColor('color-primary');
        .navPages-action{color: white;}
    }
}


//BLOG
.page-blog{
    
    .breadcrumbs{padding: 5px 15px; font-size: .8rem;}
    @media (min-width: screenSize("medium") - 1px) {
        .breadcrumbs{padding: 0 25px;}font-size: .8rem;
    }
   > .container{padding: 0; max-width: none;}
   .page-content{padding: 0;}
   .page-content-body{max-width: 1750px; margin: auto;}
   .page{margin: 0;}
   .blog-post-figure {margin: 0;}
   .blog-post-figure img{width: 100%; max-height: 450px; object-fit: cover;}
   .blog {
    .blog-post-body{
        display: flex;flex-direction: column;justify-content: center;
    }
    }
   .blog:nth-child(2n) .blog-post-figure{order: 2;}
   .blog + .blog{margin-top: 0; padding-top: 0;}
}

// GRID VIEW PRODUCTOS
.productGrid,
.productCarousel {

    .card{padding: 0;
        .card-image{object-fit: cover;}
    }
    .card-body{padding: 10px 15px;}
}
.card._border{border: 0;}

.card{

    .card-title{
        font-size: .8rem;
       @media (min-width: screenSize("medium") - 1px) {
            font-size: 1rem;
        }

    }

    .card-text--reference{
        font-size: .7rem;
       @media (min-width: screenSize("medium") - 1px) {
            font-size: 1rem;
        }

    }
    .price--main{
        font-size: .7rem;
       @media (min-width: screenSize("medium") - 1px) {
            font-size: 1rem;
        }
    }


}

// PRODUCTOS

.productView-options .form-radio:checked + .form-option{box-shadow: unset;}
.productView-options .form-field[data-product-attribute="swatch"] .form-option{border: unset;}
.form-option-variant--color{padding: 0 !important;}
.productView-title{ color: $color-primary;}
.productView-separator{margin: 15px 0;}

.productView-options .form-field[data-product-attribute="set-rectangle"] .form-option{color: #727272;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-option .form-option-variant{ font-weight: 600; padding: 4px 6px;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-radio:checked + .form-option{ background-color: $color-primary;}
.productView-options .form-field[data-product-attribute="set-rectangle"] .form-radio:checked + .form-option .form-option-variant{color: white;}
span.form-option-variant.form-option-variant--color {border-radius: 50%;}
label.form-option.form-option-swatch {border-radius: 50%;}
.papathemes-productView-optionsGrid .form-label [data-option-value]{color:#C667FE;}
.productView-options .form-label--alternate{font-size: 1rem; color:#C667FE;}
.productView-options .productView-title-detail{font-size: 1rem; color:#C667FE; margin-top: 10px;}
.productView-description-tabConten{font-size: .8rem;}
.productView-info{margin-bottom: 0;}
.productView-reference{display: flex; color: #727272; margin-bottom: 10px;}
.productView-price{ margin-bottom: 10px;}
.productView-availability{display: flex; margin-bottom: 10px;}
.productView-info-name--availability{text-transform: uppercase; color: #727272;}
.productView-info-value--availability{font-weight: 700; color: $color-primary; margin-left: 5px;}
.productView-link-container .productView-link{text-decoration: unset; display: flex; align-items: center;}
.productView-link-container .productView-link:hover{font-weight: normal;}
.productView-link-container .productView-link.link-envios{font-weight: 700; text-transform: uppercase;letter-spacing: 1px;}
.productView-link-container .ico-tallas-product{content: ''; width: 24px; height: 24px; background: url('../img/ico/ico_tallas_product.png') no-repeat center / 100%; margin-right: 10px; display: inline-block;}
.productView-link-container .ico-envios-product{content: ''; width: 24px; height: 24px; background: url('../img/ico/ico_conoce_envio.png') no-repeat center / 100%; margin-right: 10px;}

.productView-description .tabs .tab{margin: 0;}
.productView-description .tabs .tab .tab-title{border-right: 1px solid $color-primary; padding: 10px 20px;}
.productView-description .tabs .tab:last-child .tab-title{border-right:unset;}
.productView-description .tabs{background: unset;}
.productView-description .tab.is-active .tab-title{color: $color-primary;}
.tab-title:hover, .tab-title:focus{color: $color-primary;}

#tab-reviews{ background-color: $color-primary; color: white;}
#tab-reviews .productView-reviewLink a:hover{ color: white;}
#tab-reviews .beautify__page-heading{

    color: #ffffffa1;
    text-transform: uppercase; letter-spacing: 4px;
    font-size: 2rem;
    margin: 0;
   @media (min-width: screenSize("medium") - 1px) {
         font-size: 4rem;
    }
    
}


#tab-reviews .productView-rating{justify-content: center;}
#tab-reviews .productView-description-tabContent{display: flex; justify-content: center; justify-content: center;align-items: flex-end; flex-wrap: wrap;}

#tab-reviews .productView-description-tabContent .item .productView-number{font-size: 9rem; font-weight: 800; line-height: 8rem;}
#tab-reviews .productView-description-tabContent .item{color: white; padding: 5px 25px; margin-right: 30px; text-align: center;}
#tab-reviews .productView-description-tabContent .item:last-child{ margin-right: 0;}
#tab-reviews .productView-description-tabContent .item figure img{margin-bottom: 5px;}
#tab-reviews .productView-description-tabContent .item img{width: auto; margin: auto;}
#tab-reviews .productView-description-tabContent .item h3{color:white; text-transform: uppercase; letter-spacing: 2px; font-size: 1.6rem; text-align: center;}
#tab-reviews .productView-description-tabContent .item p{color: white; font-size: 1rem; margin-bottom: 0; text-transform: uppercase;}


@media (max-width:  801px){
    #tab-reviews .productView-description-tabContent .item{margin: 0; margin-bottom: 20px; width: 100%;}
}

.reviews-comments{padding: 0;}

.reviews-comments .productReviews-list{ column-count: 1;}
.reviews-comments .productReviews-list li.productReview{ width: 100%;margin: 15px 10px; border: 0; box-shadow: unset; border-bottom: 1px solid #dddddd;  }
.reviews-comments .productReviews-list li.productReview article{display: flex; justify-self: center; }
.reviews-comments .productReviews-list li.productReview article header{width: 35%;}
.reviews-comments .productReviews-list li.productReview article .productReview-body{width: 100%;}

.page-product .beautify__page-heading{color: stencilColor('color-purple');}
.page-product .beautify__page-lead{text-align: center; font-size: 1.4rem; color: stencilColor('color-purple') ;opacity: .8;}


// NEWSLETTER
.beautify__newsletter .page-heading{font-size: 2rem; color: white;font-weight: 100;}
.beautify__newsletter .page-heading .icon-newsletter{content: ''; width: 28px; height: 28px; background: url('../img/ico-boletin.png') no-repeat center / 100%; margin-right: 10px;}
.beautify__newsletter .form-field{display: block;}
.beautify__newsletter .form-field button{text-align: center; margin: auto; transition: .4s all;}
.beautify__newsletter .form-field button:hover{background-color: white; color: stencilColor("color-primary"); }
.beautify__newsletter .form-input{width: 100%;text-align: center;padding: 1rem 0 1rem;border: 0;border-bottom: solid .1rem white;margin-bottom: 1rem;background-color: transparent;;color:white;}
.beautify__newsletter .form-input::placeholder{ color: white;}

@media (max-width:  801px){
    .beautify__newsletter .page-heading{font-size: 1.3rem; }
    .beautify__newsletter .page-heading .icon-newsletter{width: 16px; height: 16px;}
}


// 404
.page-404{ background: linear-gradient(#C5B9E7,#9F91CE); margin-top: 0;}
.page-error-404{margin-top: 0;}
.page-error-404 .page-content{display: flex; flex-wrap: wrap; padding: 2rem 1.5rem ;}
.page-error-404 .page-content .image-wrap{width: 40%;}
.page-error-404 .page-content .image-wrap figure img{margin: auto; display: flex;}
.page-error-404 .page-content form input.button.button--primary{margin:0;}
.page-error-404 .page-content .content-wrap{width: 60%;}
.page-error-404 .page-content p,
.page-error-404 .page-content h1,
.page-error-404 .page-content h2{color: white;}
.page-error-404 .page-content p{font-size: 1.4rem;line-height: 1.4rem;}

.page-error-404 .page-content h1{font-size: 2.5rem;margin-left: -45px;}
.page-error-404 .page-content h2{font-size: 2.5rem;margin-left: -35px;}
.page-error-404 .page-content .title-404 p{max-width: 240px; text-align: left;}
.page-error-404 .page-content .sub-title-404 p{max-width: 300px; text-align: left;}
.page-error-404 .page-content .content-404 .content-buttons{display: flex; justify-content: center; flex-wrap: wrap; margin-top: 50px;}
.page-error-404 .page-content .content-404 .content-buttons li{width: 50%; margin-bottom: 20px;}
.page-error-404 .page-content .content-404 .content-buttons li::marker{display: none; content:''; }

//.page-error-404 .page-content .image-wrap::after{content: url('https://acegif.com/wp-content/uploads/gif-explosion-11.gif'); position: absolute; display: flex;}
.content-404 .content-buttons li a {width: calc(100% - 20px);color: $color-primary;background-color: white;display: flex;text-decoration: unset;font-weight: bold;justify-content: center;margin: 0 10px;padding: 5px 10px; transition: .4s all; text-align: center;}
.content-404 .content-buttons li a:hover{transform: scale(1.06); background-color: $color-primary; color: white;}

//SEARCH PAGE
 .page-search{
        h1.page-heading{font-size: 2.3rem;}
}

@media screen and (max-width:800px){

    .page-error-404 .page-content h2{margin-left: 0;}
    .page-error-404 .page-content h1{margin-left: 0;}
    .page-error-404 .page-content p{font-size: 1.1rem;}
    .page-error-404 .page-content .content-404 .content-buttons li{width: 100%;}
    .page-error-404 .page-content .image-wrap{width: 100%;order: 1;position: absolute;top: 0; left:0;z-index: 1; overflow: hidden;}
    .page-error-404 .page-content .image-wrap figure img{transform: translateX(25%)}    

    .page-error-404 .page-content .content-wrap{width: 100%; order: 1; z-index: 2;}
    .page-error-404 .page-content .content-404 .content-buttons{margin-left:0 ;}
    .content-404 .content-buttons li a{text-align: center;}
}


// vista categoria prodcuto
div#facetedSearch {display: flex; flex-wrap: wrap;}
.page-sidebar {width: 100%;}
div#facetedSearch {display: flex; flex-wrap: wrap; }
._accordion._accordion--navList {display: flex;flex-wrap: wrap;}
.page-sidebar + .page-content {width: 100%;}
.facetedSearch-refineFilters.sidebarBlock { margin-right: 20px; max-width: 350px;}
._accordion-navigation.toggleLink{ padding-left: 10px;padding: 0 10px;}
h3.sidebarBlock-heading {color: #54387F; font-size: 0.5rem;}
h4._accordion-title{color:#54387F; font-size: 0.5rem;}
svg.icon._accordion-indicator.toggleLink-text.toggleLink-text--on{border-right:solid 0.1rem #54387F; padding-right: 10px;}
svg.icon._accordion-indicator.toggleLink-text.toggleLink-text--off{border-right:solid 0.1rem #54387F; padding-right: 10px;}
.facetedSearch ._accordion-content {position: absolute; z-index: 3; background: white; padding: 10px 15px;}
._accordion-block{position:relative}
input.form-input.form-input--small {max-width:150px;}
a.navList-action.navList-action--checkbox {min-width: 130px;}
.form-field.form-field--input {min-width: 120px;}
button.button.button--outline.button--small {background: white;  padding: 10px 15px;}
button.button.button--outline.button--small:hover {background: #A50CFD; color:white }

.categoryPage_mainImage-slider{

    .slick-slide{margin: 0 10px;}
    img{height: 170px; object-fit: cover; object-position: center;}
}

// somos eskultura
div#sd-image-c77675ad-824c-4fad-94fb-9e264c45efe3:hover{background: url(https://cdn11.bigcommerce.com/s-7srliiv4l2/product_images/uploaded_images/mision-b.jpg?t=1648741249&_gl=1*11q8f8t*_ga*MTM2MzQ5MTQ1NS4xNjM5NTk2ODcz*_ga_WS2VZYPC6G*MTY0ODc0NzQ4My4xMzcuMS4xNjQ4NzQ4MzI3LjM5);}
.page-somos-video video {height: 500px; width: 100%; object-fit: cover;}
//pagina de inicio de sesion
.panel-body {background: #ffff; border-left:solid #54387F 3px;}
.panel-header {background: #ffff; border-left:solid #54387F 3px;}
button.button.button--primary{background: white; color: #54387F; min-width: 100%;}
button.button.button--primary:hover{background:#54387F; color: white; min-width: 200px; align-items: center; min-width: 100%;

    .icon{fill: white;}
}
form.login-form.form {margin-top: -10px;}
input.button.button--primary { min-width: 100%;background:#54387F; color: white;} 
input.button.button--primary:hover { min-width: 100%;background:white; color: #54387F;} 
label.form-label {display: none;}
.login-form.form input::not([type="submit"]){background: #C5B9E7;}

//pagina de escribenos
.page-page_contact_form{
    .mapa-tienda{ height: 400px; width: 100%;}
    .form-input{background: #FAF1FF; color: #54387F!important;}
}


//home color categorias
p._heading {color: white!important;}
._imgContainer ._body:hover{ background-color: rgba(97,69,142,0.5);}
.go663268947{height: 360px!important;}

// configuracion recuadro productos
article.card._border._hideBtn.productSwatchesLoaded {border: none;}

//CUSTOM FORM

.form-custom {

    .form-input,
    input,
    textarea,
    select{
        border: 0;
        background-color: #FAF1FF;
    }

    .g-recaptcha{
        > div{margin: auto;}
    }
}
