{{#partial "page"}}
<div class="account">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.returns.heading'}}</h2>


    <div class="account-container">
    {{> components/account/navigation account_page='returns'}}

    <main>
        <div class="account-row">
            <p>
                {{lang 'account.returns.successful'}}
            </p>
            {{#if return.instructions}}
                <h3>{{lang 'account.returns.instructions'}}</h3>
                <p>{{nl2br return.instructions}}</p>
            {{/if}}
        </div>
    </main>

    </div>
</div>
{{/partial}}
{{> layout/base}}
