{{!--
<ul class="tabs" data-tab role="tablist">
    {{#if product.related_products}}
        <li class="tab is-active" role="presentational">
            <a class="tab-title" href="#tab-related" role="tab" tabindex="0" aria-selected="true" controls="tab-related">{{lang 'products.related_products'}}</a>
        </li>
    {{/if}}
    {{#if product.similar_by_views}}
        <li class="tab{{#unless product.related_products}} is-active{{/unless}}" role="presentational">
            <a class="tab-title" href="#tab-similar" role="tab" tabindex="0" aria-selected="false" controls="tab-similar">{{lang 'products.similar_by_views'}}</a>
        </li>
    {{/if}}
</ul>
--}}

<div class="tabs-contents">
    {{#if product.related_products}}
        <div role="tabpanel" class="tab-content has-jsContent is-active" id="tab-related">
            <div class="container">
                <h2 class="beautify__page-heading">{{theme_settings.productpage_related_products_title}}</h2>
                <p class="beautify__page-lead">{{theme_settings.productpage_related_products_lead}}</p>
                {{#if settings.data_tag_enabled}}
                    {{> components/products/carousel products=product.related_products columns=5 list="Related Products"}}
                {{else}}
                    {{> components/products/carousel products=product.related_products columns=5}}
                {{/if}}
            </div>
        </div>
    {{/if}}

    {{{region name="product_below_related"}}}
    {{{region name="product_below_related--global"}}}


    {{{region name="product_reviews"}}}
    {{#if settings.show_product_reviews}}
        <div class="tab-content" id="tab-reviews">            
            {{#unless in_quickview}}<div class="container">{{/unless}}
            <h2 class="beautify__page-heading _hasToggle">{{lang 'products.reviews.title' total=product.num_reviews}}</h2>

            <div class="productView-description-tabContent is-open" id="ih__reviews-{{product.id}}">                
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                    <div class="item productView-rating-number">
                        <span class="productView-reviewLink productView-number">
                            {{product.num_reviews}}
                        </span>
                        <p>{{lang 'products.reviews.recommend' total=product.num_reviews}}</p> 
                        <div class="productView-rating">
                            {{> components/products/ratings rating=product.rating}}
                            {{#if product.num_reviews '>' 0}}
                            {{#if settings.show_product_reviews}}
                                    <span class="productView-reviewLink">
                                        <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                            {{#unless is_ajax}}
                                                data-reveal-id="modal-review-form"
                                            {{else}}
                                                {{#unless in_quickview}}
                                                    data-reveal-id="modal-review-form"
                                                {{/unless}}
                                            {{/unless}}
                                        >
                                        {{lang 'products.reviews.new'}}
                                        </a>
                                    </span>
                                {{/if}}
                            {{else}}
                                <button class="button _writeReview" data-reveal-id="modal-review-form">{{lang 'products.reviews.new'}}</button>
                            {{/if}}  
                        </div>                                                    
                    </div>     
                    {{/if}}
                {{/if}}
                <div class="item productView-rating-quality">
                    <figure>
                        <img src="{{cdn 'img/ico/ico_calidad_reviews.png'}}" alt="Ajuste al tallaje" width="115px" height="115px">
                    </figure>
                    <h3>Calidad</h3>
                    <p>Excelente</p>
                </div>
                <div class="item productView-rating-confort">
                    <figure>
                        <img src="{{cdn 'img/ico/ico_comodidad_reviews.png'}}" alt="Comodidad muy buena" width="115px" height="115px">
                    </figure>
                    <h3>Comodidad</h3>
                    <p>Muy buena</p>
                </div>  
                <div class="item productView-rating-ajust">
                    </figure>   
                        <img src="{{cdn 'img/ico/ico_calidad_talla_reviews.png'}}" alt="Ajuste al tallaje" width="75px" height="115px">
                    </figure>
                    <h3>Ajuste al tallaje</h3>
                    <p>Se Ajusta Adecuadamente</p>
                </div>  
            </div>
            {{#unless in_quickview}}</div><!-- .container -->{{/unless}}
        </div>
        <div class="reviews-comments">
            <div class="container">
                {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
            </div>
        </div>
    {{/if}}




    {{#if product.similar_by_views}}
        <div role="tabpanel" class="tab-content has-jsContent is-active" id="tab-similar">
            <div class="container">
                <h2 class="beautify__page-heading">{{theme_settings.productpage_similar_by_views_title}}</h2>
                <p class="beautify__page-lead">{{theme_settings.productpage_similar_by_views_lead}}</p>
                {{> components/products/carousel products=product.similar_by_views columns=5 list="Customers Also Viewed"}}
            </div>
        </div>
    {{/if}}

    {{{region name="product_below_related"}}}
    {{{region name="product_below_related--global"}}}
</div>
